<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--上面这三个标签必须放在最前面-->
    <title>修改密码</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <!--引入js-->
    <script type="text/javascript" th:src="@{/js/UserManage/UserSecret.js}"></script>

</head>
<body>

    <div th:object="${session.session_user}">
        <p>用户名: <span name="Name" id="name" th:text="*{name}"></span></p>
    </div>
    旧密码:<input type="password" name="Password" id="old_password"><p id="error_msg_1"></p>
    新密码:<input type="password" name="new_password" id="new_password">
    确认密码:<input type="password" name="IS_new_password" id="IS_new_password"><p id="error_msg_2"></p>
    <input type="button" name="change_password_btn" id="change_password_btn" value="修改">
    <input type="button" name="reset_btn" id="reset_btn" value="重置">

</body>
</html>