server:
  port: 8080

spring:
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/cms?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=UTC
    driver-class-name: com.mysql.jdbc.Driver
  thymeleaf:
      cache: false
      prefix: classpath:/templates/
      suffix: .html
      encoding: utf-8
      mode: html5
      servlet:
        content-type: text/html

resources:
  static-locations: classpath:/resources/, classpath:/static/ ,classpath:/templates/

mybatis:
  mapper-locations: classpath:mapping/*Mapper.xml
  type-aliases-package: com.cms.entity

#showSql
logging:
  level:
    com:
      example:
        mapper : debug

#############################
#########分页插件配置########
pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql
#############################


#############################
######用户自定义参数#########
user:
  default_pwd: 123456
#############################