<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.ClassroomInfoMapper">
  <resultMap id="BaseResultMap" type="com.cms.entity.ClassroomInfo">

    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Floor_No" jdbcType="INTEGER" property="floorNo" />
    <result column="Room_No" jdbcType="INTEGER" property="roomNo" />
    <result column="seat" jdbcType="INTEGER" property="seat" />
  </resultMap>

</mapper>