<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.ClassInfoMapper">
  <resultMap id="BaseResultMap" type="com.cms.entity.ClassInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="School_Name" jdbcType="VARCHAR" property="schoolName" />
    <result column="Dept_Name" jdbcType="VARCHAR" property="deptName" />
    <result column="Class_Name" jdbcType="VARCHAR" property="className" />
    <result column="Class_ShortName" jdbcType="VARCHAR" property="classShortname" />
  </resultMap>
</mapper>