<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.ClassroomInfoMapper">
  <resultMap id="BaseResultMap" type="com.cms.entity.ClassroomInfo">

    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Floor_No" jdbcType="INTEGER" property="floorNo" />
    <result column="Room_No" jdbcType="INTEGER" property="roomNo" />
    <result column="seat" jdbcType="INTEGER" property="seat" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from classroom_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cms.entity.ClassroomInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into classroom_info (Floor_No, Room_No, seat)
    values (#{floorNo,jdbcType=INTEGER}, #{roomNo,jdbcType=INTEGER}, #{seat,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cms.entity.ClassroomInfo">
    update classroom_info
    set Floor_No = #{floorNo,jdbcType=INTEGER},
      Room_No = #{roomNo,jdbcType=INTEGER},
      seat = #{seat,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap"><!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select ID, Floor_No, Room_No, seat
    from classroom_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, Floor_No, Room_No, seat
    from classroom_info
  </select>
</mapper>