<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.UserMapper">

  <resultMap id="BaseResultMap" type="com.cms.entity.User">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Password" jdbcType="VARCHAR" property="password" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="Sex" jdbcType="CHAR" property="sex" />
    <result column="Age" jdbcType="INTEGER" property="age" />
    <result column="PhoneNo" jdbcType="VARCHAR" property="phoneno" />
    <result column="Email" jdbcType="VARCHAR" property="email" />
    <result column="Role_IDs" jdbcType="VARCHAR" property="roleIds" />
    <result column="Create_Time" jdbcType="VARCHAR" property="createTime" />
    <result column="Update_Time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>

  <!--用来接收userinfo的map-->
  <!--<resultMap id="UserInfoResultMap" type="com.cms.entity.custom.UserInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Sex" jdbcType="CHAR" property="sex" />
    <result column="Age" jdbcType="INTEGER" property="age" />
    <result column="PhoneNo" jdbcType="VARCHAR" property="phoneno" />
    <result column="Email" jdbcType="VARCHAR" property="email" />
    <result column="School_Name" jdbcType="VARCHAR" property="schoolName" />
    <result column="Dept_Name" jdbcType="VARCHAR" property="deptName" />
    <result column="Class_Name" jdbcType="VARCHAR" property="className" />
    <result column="Class_ShortName" jdbcType="VARCHAR" property="classShortname" />
    <result column="Create_Time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>-->

  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cms.entity.User">

    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user (`Name`, `Password`, Sex, 
      Age, PhoneNo, Email, 
      Role_ID, Create_Time, Update_Time
      )
    values (#{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, 
      #{age,jdbcType=INTEGER}, #{phoneno,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cms.entity.User">

    update user
    set `Name` = #{name,jdbcType=VARCHAR},
      `Password` = #{password,jdbcType=VARCHAR},
      Sex = #{sex,jdbcType=CHAR},
      Age = #{age,jdbcType=INTEGER},
      PhoneNo = #{phoneno,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      Role_ID = #{roleId,jdbcType=INTEGER},
      Create_Time = #{createTime,jdbcType=VARCHAR},
      Update_Time = #{updateTime,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select ID, `Name`, `Password`, Sex, Age, PhoneNo, Email, Role_ID, Create_Time, Update_Time
    from user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select ID, `Name`, `Password`, Sex, Age, PhoneNo, Email, Role_ID, Create_Time, Update_Time
    from user
  </select>
  <select id="login" resultMap="BaseResultMap">
    SELECT * FROM user where ID = #{param1} and Password = #{param2} and Role_ID = #{param3}
  </select>
  <select id="checkByName" resultMap="BaseResultMap">
    SELECT * FROM user where Name = #{param1}
  </select>
  <select id="selectUserInfoByID" parameterType="java.lang.Integer" resultMap="UserInfoResultMap">
    SELECT u.id,u.name,u.sex,u.age,u.phoneno,u.email,c.school_name,c.dept_name,c.class_name,c.Class_ShortName,c.create_time
    FROM USER u,student s , class_info c
    WHERE u.id = s.stu_id AND s.class_id = c.id AND u.id = #{param1};
  </select>-->


</mapper>