<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.UserMapper">

  <resultMap id="BaseResultMap" type="com.cms.entity.User">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Password" jdbcType="VARCHAR" property="password" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="Sex" jdbcType="CHAR" property="sex" />
    <result column="Age" jdbcType="INTEGER" property="age" />
    <result column="PhoneNo" jdbcType="VARCHAR" property="phoneno" />
    <result column="Email" jdbcType="VARCHAR" property="email" />
    <result column="Role_IDs" jdbcType="VARCHAR" property="roleIds" />
    <result column="Create_Time" jdbcType="VARCHAR" property="createTime" />
    <result column="Update_Time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>


</mapper>