<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>登陆课程管理网站</title>
    <script type="text/javascript" th:inline="javascript" th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/static/css/login.css}" />
    <!--<script type="text/javascript" th:src="@{/static/js/kaptcha.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{/static/js/validate.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{/static/js/login.js}"></script>-->
</head>
<body>
<div class="main-body">

    <!--登录顶部-->
    <div class="login-headr">
        <img src="../../images/logo_school.png" th:attr="src=@{/static/images/logo_school.png}" />
        <p>管理系统</p>
    </div>

    <!--登录logo-->
    <div class="login-logo"></div>

    <!--登录主体div-->
    <div class="login-main">
        <div class="login-box" id="login-box">
            <div class="l-static">
                <div class="l-tab-covers">
                    <div class="l-tab-list current">密码登录</div>
                    <div class="l-tab-list">短信登录</div>
                </div>
                <div class="static-module-covers">
                    <!--  这个是登录的div-->
                    <div class="pass-login-covers">
                        <!-- 这个div用来显示报错信息  -->
                        <!--<div class="error-tips hide" id="pass-error-tips">-->
                            <!--<span class="ipt-tips-default ipt-default-current js-err-l"></span>-->
                        <!--</div>-->
                        <form method="post" data-toggle="validator">
                        <div class="email form-group has-feedback">
                            <input type="text" name="username" id="login_name"
                                   placeholder="用户名" autocomplete="off" maxlength="32"
                                   class="text-style ipt-default-current">
                            <span class="glyphicon form-control-feedback"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="password form-group has-feedback">

                            <input type="password" name="password" id="login_password"
                                   placeholder="密码" maxlength="40" autocomplete="off"
                                   class="text-style ipt-default-current">
                            <span class="glyphicon form-control-feedback"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <!--<div style="color:red;" th:text="${error}"></div>-->
                            <div class="error-tips hide" id="pass-error-tips">
                                <span class="ipt-tips-default ipt-default-current js-err-l" id="err" th:text="${error}"></span>
                            </div>
                        <!--<div class="">
                            <label><input name="user" type="radio" value="2" class="auto-login-cd"/>管理员 </label>
                            <label><input name="user" type="radio" value="3" class="auto-login-cd"/>教师 </label>
                            <label><input name="user" type="radio" value="4" class="auto-login-cd" checked="checked"/>学生 </label>
                        </div>

                        <div class="password">
                                <input type="text" class="form-control" id="kaptcha" name="kaptcha"
                                       placeholder="请输入验证码" style="color: #000000;" /><span
                                    class="help-block"></span>
                                <img th:src="@{/kaptcha.jpg}" width="200" id="kaptchaImage" title="看不清，点击换一张" />
                                <small>看不清，点击换一张</small>
                            <p id="error_msg"></p>
                        </div>-->

                        <div class="login">
                            <!--  btn-disabled  btn-default-main -->
                            <button type="submit" id="user_login_btn" class="btn-current-big btn-default-main">登录</button>
                            <input type="button" id="" class="btn-current-big btn-default-main loadding-btn hide"
                                   value="登录中...">
                        </div>
                        </form>
                        <!--<div class="auto-login">
                            <label class="auto-login-cd" id="autolog-label">
                                <input type="checkbox" name="rememberMe" id="autolog" class="auto-login-cd">下次自动登录</label>
                            <div class="login-links">
                                <a href="" class="">忘记密码</a>
                                &nbsp; | &nbsp;<a href="register.html" class="">注册</a>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="third-login-box">
                    <p class="third-account">第三方账号登录</p>
                    <div class="account-login">
                        <a class="wechat-login"></a>
                        <a class="weibo-login"></a>
                        <a class="qq-login"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- iCheck -->
<script th:src="@{/static/js/icheck.min.js}"></script>
<!-- Bootstrap-validator-0.11.9 -->
<script th:src="@{/static/js/validator.min.js}"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });
//        $("#user_login_btn").click(function () {
            var err = $("#err");
            console.log("123"+err.text());
            if ("" != err.text() && null != err.text()){
                $("#pass-error-tips").removeClass("hide");
            }else {
                $("#pass-error-tips").addClass("hide");

            }
//        });
    });
</script>
</body>
</html>
