<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>

    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/js/kaptcha.js}"></script>
    <script type="text/javascript" th:src="@{/js/validate.js}"></script>
    <script type="text/javascript" th:src="@{/js/register.js}"></script>

</head>
<body>

<!-- begin:添加一个注册表单 -->
<div>
    <form id="insert_modal" class="form-horizontal">
        <div class="col-sm-10">
            <input type="text" class="form-control" id="insert_name"
                   name="Name" placeholder="请输入账号"/> <span
                class="help-block" id="help-checkName"></span>
        </div>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="insert_password"
                   name="Password" placeholder="请输入密码"/> <span
                class="help-block"></span>
        </div>
        <button type="button" class="btn btn-primary" id="user_insert_btn">注册</button>
    </form>
</div>

<script th:inline="javascript">
         $(function(){


         });
</script>
</body>
</html>
