<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--<link rel="stylesheet" href="test.css" type="text/css" />-->
<form action="/index/Login" method="post">
    请输入用户名--：<input type="text" name="Name" id="Name"/><span></span><br>
    请你输入密码--：<input type="password" name="Password" id="Password"/><br>
    <input type="submit" value="Login"/>
    <a href="/index/Register">--注册--</a>
</form>
<script th:inline="javascript">
         $(function(){
             $("#Name").blur(function(){
                $("#Name").css("background-color","#D6D6FF");
                var name = $("#Name").val();
                $.ajax({
                url:"/index/check",
                data:{
                     name:name
                 },
                 type:"get",
                 dataType:"text",
                 success:function(text){
                    $("span").text(text);
                }
                });
             });

         });
</script>
<!--$("#Name").focus();-->
</body>
</html>
