<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common::commonHeader('课程管理')">

<body>
<!--顶部导航栏部分-->
<div th:include="common::commonNav"></div>

<!-- 中间主体内容部分 -->
<div th:include="common::commonCenter"></div>

<!-- 左侧导航和正文内容的分隔线 -->
<div class="splitter"></div>
<!-- 正文内容部分 -->
<div class="pageContent">
    <!--<div class="container">-->
        <div>
            <button class="btn btn-primary btn-sm" id="btn_add">新增</button>
            <table id="table" style="margin:0px auto;border:1px solid #dddddd;"></table>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="course_name">课程名称</label>
                                <input type="text" name="course_id" class="form-control display" id="course_id" placeholder="id" >
                                <input type="text" name="course_name" class="form-control" id="course_name" placeholder="课程名称">
                            </div>
                            <div class="form-group">
                                <label for="course_dec">简介</label>
                                <input type="text" name="course_dec" class="form-control" id="course_dec" placeholder="简介">
                            </div>
                            <div class="form-group">
                                <label for="course_credit">学分</label>
                                <input type="text" name="course_credit" class="form-control" id="course_credit" placeholder="学分">
                            </div>
                            <div class="form-group">
                                <label><input name="course_character" type="radio" value="1" class="auto-login-cd" checked/>必修 </label>
                                <label><input name="course_character" type="radio" value="2" class="auto-login-cd"/>选修 </label>
                                <!--<input type="text" name="txt_statu" class="form-control" id="txt_statu" placeholder="必修/选修">-->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                            <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                            <button type="button" id="btn_update" class="btn btn-primary display" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--</div>-->

    <!--<iframe th:replace="CourseInfoManage/CourseInfo::html" id="mainFrame" name="mainFrame"
            frameborder="0" width="100%"  height="100%" frameBorder="0">
    </iframe>-->
</div>

<!-- 底部页脚部分 -->
<!--<div th:include="common::commonFooter"></div>-->
<!--引入bootstrap table-->
<link rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}" />
<link rel="stylesheet" th:href="@{/css/CourseInfoManage/courseInfo.css}" />
<!-- bootstrap-table.min.js -->
<script type="text/javascript" th:src="@{/js/bootstrap-table.min.js}"></script>
<!-- 引入中文语言包 -->
<script type="text/javascript" th:src="@{/js/bootstrap-table-zh-CN.min.js}"></script>
<!--引入自定义js-->
<script type="text/javascript" th:src="@{/js/CourseInfoManage/CourseInfo.js}"></script>
</body>
</html>